html, body{
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  overflow-y: auto;
  transition: 1s all;
}

h3{
  font-family:Montserrat;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

p{
  font-family:Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.content blockquote{

  border-left: 3px solid black;
  padding-left: 20px;
  margin-left: 0px;

  p{
    font-family: 'Crimson Text, serif';
    font-style:italic;
    font-weight: 400;
    font-size: calc(1em + .5vw);
  }
}

.scrolling {
  background: #eeeeee;
  border-radius: 0;
  border: 0;
  height: 60px;
  padding: 0 30px;
  box-shadow: none ;
  transition: .5s all;
  z-index: 3;
  justify-content: center;
}

.notscrolled {
  background: none !important;
  border-radius: 0;
  border: 0;
  height: 60px;
  padding: 0 30px;
  box-shadow: none !important;
  transition: .5s all;
  z-index: 3;
  justify-content: center;
}

.underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 0px;
  transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.65s;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: all ease 0.3s;
  }

  &:hover {

    &::after {
      width: 100%;
      height: 5%;
    }

  }
}

.underline-white {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0 0px;
  transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.65s;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: all ease 0.3s;
  }

  &:hover {
    cursor: pointer;
    &::after {
      width: 100%;
      height: 5%;
    }
  }
}


.hidden{
  opacity: 0;
  transform: translate(0, -100px);
}


.showDrawer{

    opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .5s;
    align-items: left;
    display: flex;

    a, svg, h1, h2{&:nth-child(1) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .3s;}}
    a, svg, h1, h2{&:nth-child(2) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .4s; }}
    a, svg, h1, h2{&:nth-child(3) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .5s; }}
    a, svg, h1, h2{&:nth-child(4) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .6s; }}
    a, svg, h1, h2{&:nth-child(5) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .7s; }}
    a, svg, h1, h2{&:nth-child(6) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .8s; }}
    a, svg, h1, h2{&:nth-child(7) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .9s; }}
    a, svg, h1, h2{&:nth-child(8) { opacity: 0; animation: fadeIn 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: 1s; }}


      @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translate(0, -100px);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0px);
      }
    }
  }

.hide{

  opacity: 1; animation: fadeOut 650ms cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards; animation-delay: 0s;
  align-items: center;
  display: flex;

  a{&:nth-child(4) { opacity: 1; animation: fadeOut 650ms cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards; animation-delay: 0s; }}
  a{&:nth-child(3) { opacity: 1; animation: fadeOut 650ms cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards; animation-delay: .1s; }}
  a{&:nth-child(2) { opacity: 1; animation: fadeOut 650ms cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards; animation-delay: .2s; }}
  a{&:nth-child(1) { opacity: 1; animation: fadeOut 650ms cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards; animation-delay: .3s; }}

    @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translate(0, 0px);
    }
    100% {
      opacity: 0;
      transform: translate(0, -100px);
    }
  }
}

.show{

  opacity: 0; animation: fadeIn 650ms cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .5s;
  align-items: center;
  display: flex;

  a{&:nth-child(1) { opacity: 0; animation: fadeIn 650ms cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .5s;}}
  a{&:nth-child(2) { opacity: 0; animation: fadeIn 650ms cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .6s; }}
  a{&:nth-child(3) { opacity: 0; animation: fadeIn 650ms cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .7s; }}
  a{&:nth-child(4) { opacity: 0; animation: fadeIn 650ms cubic-bezier(0.19, 1, 0.22, 1) forwards; animation-delay: .8s; }}


    @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(0, -100px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.carousel-inner{
  overflow: hidden;
}

.noFocus:focus{
  outline: 0 !important;
}

.slick-dots{
  bottom:-25px !important;
}

.slider-two{
  @media (max-width: 599px) {
    display:none;
  }
}

.slick-arrow {
  display: none;
}

.slick-prev {
  left: 25px;
  opacity:.5;
  z-index: 1100;
  position: absolute !important;
  transition: all ease 0.25s !important;
  transform-origin: 50% 150%;

  &::before{
    display: none;
  }

  &:focus{
    color: black;
    outline: 0;
    background: none;
  }

  &:hover{
    color: black;
    outline: 0;
    background: none;
    transform:scale(1.5);
  }
}

.slick-next {
  right: 25px;
  opacity:.5;
  z-index: 1100;
  position: absolute !important;
  transition: all ease 0.25s !important;
  transform-origin: 50% 150%;

  &::before{
    display: none;
  }

  &:focus{
    color: black;
    outline: 0;
    background: none;
  }

  &:hover{
    color: black;
    outline: 0;
    background: none;
    transform:scale(1.5);
  }
}

.scaleUp {
  opacity:0;
  transition:1s all ease;
}

.scaleDown {
  opacity:1;
  transition:1s all ease;
}

.tabHover {
  transition:.65s ease all;
  div:hover{
    color:black;
    cursor:pointer;
    transition:.65s ease all;
  }
}

.workshopImg{
  .parallax-outer:nth-child(1) {
    transform: translate(-100px,0); z-index: 2;
    width:100%;
    max-width: 397.7px;
    max-height: 430.5px;

    .parallax-banner-layer-0{
      background-position: 30% 50% !important;
    }
  }
  .parallax-outer:nth-child(2) {
    transform: translate(200px,250px); z-index: 1;
    width:100%;
    max-width: 397.7px;
    max-height: 430.5px;

    .parallax-banner-layer-1{
        background-position: -400% 90% !important;
        transform: translate(0px,-100px) !important;
        background-repeat: no-repeat;
    }
  }
}

.heroHover{

  transition: all 650ms ease;

  .blogImg{

    transition: all 650ms ease;

    .parallax-banner-layer-0{
      background-position: 30% !important;
      transition: all 650ms ease;
    }
  }

  .headlineHover{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0 0px;
    transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.65s;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 0%;
      height: 5%;
      left: 0;
      bottom: 0;
      background-color: black;
      transition: all ease 0.3s;
    }
  }

  &:hover{
    cursor: pointer;

    .blogImg{
      .parallax-inner div{
        transform:scale(1.1);
      }
    }

    .headlineHover{
      transition: all cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.65s;

        &::after {
          width: 100%;
          height: 5%;
        }
    }


  }
}

.iconLogo{
  position: absolute !important;
  left: 0;
  width: 75px !important;
  height: 75px !important;
  background: black !important;
  top: 0;

  svg {
    transition: 1s ease all;
    transform: translate(0, 0);

    &:hover{
      cursor: pointer;
      transform: translate(0, -5px);
    }

    path{
      fill:white;
    }
  }

}


.iconLogoPost{
  position: absolute !important;
  left: 0;
  width: 75px !important;
  height: 75px !important;
  background: black !important;
  top: 0;

  svg {
    transition: 1s ease all;
    transform: translate(0, 0);

    &:hover{
      cursor: pointer;
      transform: translate(0, -5px);
    }

    path{
      fill:white;
    }
  }

  @media (max-width: 900px) {
    left:75px;
  }
}

.arrowBack{
  display: block;
  position: absolute !important;
  width: 75px !important;
  height: 75px !important;
  background: black !important;
  color: white !important;
  top: 75px;
  left:0;
  transition: 1s ease all;
  padding:20px;

  span {
    transition: 1s ease all;
    transform: translate(0, 0);

    &:hover{
      transform: translate(-5px, 0);
    }
  }

  @media (max-width: 900px) {
    top: 0;
    left:0;
  }

}

img{
  animation:600ms ease forwards fadeInUp;
  transition: 1s all;

    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}

.parallax-banner-layer-0 {
  animation:600ms ease forwards fadeInUp;
  transition: 1s all;

    @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}

.author-profile {
  display:inline-block;

  img {
    border-radius: 100px;
    width:40px;
    height:40px;
  }
}

.content{
  img{
    width:100%;
    height:auto;
    padding-bottom: 40px;
  }

  p{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    line-height: 1.7;
    font-size: 14px;

    &:nth-child(2):first-letter {
      color: black;
      float: left;
      font-family: CrimsonText;
      font-size: 75px;
      line-height: 60px;
      font-weight: 800;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }

  h2{
    font-family: 'Crimson Text, serif';
    font-weight: 400;
    font-size: calc(1em + .5vw);
  }

  a{
    width:100%;
    height: 100%;
    border-radius: 2px;
    background-color: #fcfcfc;
    border: solid 1px #e6e6e6;
    display: block;
    text-decoration: none;
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    font-family: Montserrat;
    font-size: calc(.65em + .5vw);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    vertical-align: middle;
    transition: all ease 0.65s;

    &:before{
      content:"See Article";
      font-size: 12px;
      display: block;
      text-transform: capitalize;
      vertical-align: middle;
      margin-right: 20px;
      color:#848484;
      padding-bottom:10px;
    }

    &:after{
      font-family: 'Material Icons';
      content: "arrow_forward";
      -webkit-font-feature-settings: 'liga';
      display: inline-block;
      position: relative;
      margin-left: 10px;
      vertical-align: middle;
      transition: all ease 0.65s;
      color:black;
    }

    &:hover{

      color:#848484 !important;

      &:after{
      transform:translate(10px,0);
      }
    }

    &:visited{
      color:black;
    }
  }
}

.mask{
  width: 100%;
  height: 4%;
  bottom: 0;
  position: fixed;
  display: block;
  background: #fafafa;
}

.scrollableAnchor{
  list-style: none;
  position: fixed;
  top:50%;

  li{
    display:block;
    margin-bottom:40px;
    position: relative;
    padding: 10px;

    div{
      width:10px;
      height:1px;
      background:black;
      background-color: #303030;
      transition: width 0.5s ease 0.1s;
    }

    &:hover {

      cursor: pointer;

      div{
        width:30px;
        height:1px;
      }
    }

    .activeClass{
      width:30px;
      height:1px;
    }
  }
}

.latestNews{
  border-right:1px solid #ede7e7;

  @media (max-width: 599px) {
    border-right:0px solid #ede7e7;
  }
}

.blogHeadline{
    top: 30vh;
    display: flex;
    position: absolute;
    text-align: center;

    @media (max-width: 900px) {
      top: 4vh;
      left: 0;
    }
}

.designTinkering{
    text-align:center;
    justify-content: center;
    padding-top:10vh;
    padding-bottom:10vh;

    @media (max-width: 599px) {
      padding-top:10vh;
    }

}


//this handles the transition wipe found in withRoot.js
.transition{

  &:before{
    content:'';
    position:fixed;
    height:100%;
    width:100%;
    background: lightgray;
    z-index: 999999999999999999999999999999999999999999999999;
    animation: wipe 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: .65s;
  }

  &:after{
    content:'';
    position:fixed;
    height:100%;
    width:100%;
    background: white;
    z-index: 9999999999999999999999999999999999999999999999999;
    animation: wipe 1.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }


    @keyframes wipe {
    0% {
      opacity: 1;
      transform: translate(0, -100vh);

    }
    50% {
      opacity: 1;
      transform: translate(0, 0px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 100vh);
    }
  }
}

//This handles the transition for the page
#__next div{

&:nth-child(2) {
      animation:1.2s ease forwards moveUp;
      animation-delay:1.25s;
      opacity:0;

        @keyframes moveUp {
        0% {
          opacity: 0;
          transform: translate(0, 100px);
        }
        100% {
          opacity: 1;
          transform: translate(0, 0px);
        }
      }
    }
}

.project{
      animation:1.2s ease forwards moveUp;
      animation-delay:1.5s;
      opacity:0;

        @keyframes moveUp {
        0% {
          opacity: 0;
          transform: translate(0, 100px);
        }
        100% {
          opacity: 1;
          transform: translate(0, 0px);
        }
      }
    }

.social-icons a{
  transition: .5s all;
  padding:5px;

  svg path{  transition: .5s all; }

  &:hover svg path{
    transition: .5s all;
    transform: scale(.9);
    opacity:.5;
  }
}

.progress{
  width:100%;
  position: fixed !important;
  top:0;
  transition: 1s all;
}
