.vwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.vrow{
  flex: 1 1 auto;
  display: flex;
}

.carouselSmall{
  display: flex;
  background-image: linear-gradient(to right, #c3d4cc, #bccdc5);;
  height:729px;
  min-height: 0;
  min-width: 0;
  overflow:hidden;
}

.carouselLarge{
  display: flex;
  background-image: linear-gradient(to right, #c3d4cc, #bccdc5);
  clip-path:polygon(100% 90%, 100% 100%, 40% 100%, 40% 90%, 0% 90%, 0% 0%, 100% 0%, 100% 90%);
  height:810px;
  min-height: 0;
  min-width: 0;
  overflow:hidden;
}

.vcol{
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.flex{
  display: flex;
}
